NODE_ENV=development
PORT=
HOST=
LOG_LEVEL=info
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_BUCKET_NAME=documents
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_PUBLIC_URL=
GOOGLE_AI_API_KEY=
GOOGLE_AI_MODEL=
DOCSTER_API_BASE_URL=
DOCSTER_APP_BASE_URL=
